.app {
  margin: 0;
  font: 500 100%/1.5 system-ui;
  color: white;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
   0% {
   background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
   }

   100% {
   background-position: 0% 50%;
   }
}

/* Nav Bar */

a {
  color: white;
}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  text-shadow: 0.5px 0.5px;
}

p {
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: large;
}

h1 {
  font-size: 4rem;
  margin: 30px;
}

.navbar {

  font-size: larger;
  list-style: none;
  gap: 20px;
  padding: 20px;
  padding-right: 25px;
  margin: 0;
  display: flex;
  justify-content: flex-end;

}

/* Home Page*/

.home-container {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  height: 50rem;
}

.home-text {
  text-align: center;
  max-width: 500px;
}

.home-image {
  padding-top: 30px;
}

/* Portfolio Page */

.portfolio-container {
  height: 80rem;
}

.portfolio-text {
  max-width: 750px;
  padding-left: 50px;
}

.portfolio-content {
  display: grid;
  padding: 3rem;
  padding-top: 1 rem;
  grid-template-columns: 500px 1fr;
  gap: 2rem;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  font: 500 100%/2.5 system-ui;
}

/* Experience Page */

.experience-text {
  max-width: 750px;
  padding-left: 50px;
}

.experience-content {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  height: 30rem;
  margin-top: 2rem;
}

.experience-python {
  animation: fadeIn 2s;
}
.experience-flask {
  animation: fadeIn 4s;
}
.experience-html {
  animation: fadeIn 6s;
}
.experience-css {
  animation: fadeIn 8s;
}
.experience-javascript {
  animation: fadeIn 10s;
}
.experience-react {
  animation: fadeIn 12s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



/* Interests Page */

.interests-container {
  height: 235vh;
}

.interests-title {
  max-width: 750px;
  padding-left: 50px;
}

.interests-content {
  display: grid;
  padding: 3rem;
  grid-template-columns: 500px 1fr;
  gap: 2rem;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  font: 500 100%/2.5 system-ui;
}

img {
  max-width: 100%;
  height: auto;
}

