.app {
  margin: 0;
  background-color:cornflowerblue;
  color: white;
}

/* Nav Bar */

a:link {
  color: white;
  text-decoration: none;
}

a {
  color: white;
}

.navbar {

  list-style: none;
  gap: 10px;
  padding: 20px;
  padding-right: 25px;
  margin: 0;
  color: white;
  background-color:darkslategray;
  display: flex;
  justify-content: flex-end;

}

/* Home Page*/

.home-container {
  text-align: center;
  margin: 30px;
  margin-bottom: 0;
  padding-top: 30px;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
}

.home-text {
padding-top: 100px;
  max-width: 500px;
}

.home-image {
  border-radius: 50px;
}



/* Portfolio Page */

.portfolio-container {
  text-align: center;
}



/* Experience Page */

.experience-container {
  text-align: center;
}



/* Interests Page */

.interests-title {
  padding-top: 20px;
  padding-left: 30px;
}

.interests-container {
  display: grid;
  padding: 3rem;
  grid-template-columns: 400px 1fr;
  gap: 2rem;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  font: 500 100%/2.5 system-ui;
}

img {
  max-width: 100%;
  height: auto;
}

